<div style="
  padding: 30px;
  text-align: center;" class='row'>
<div style="float:left;width: 15%;" class='column'><a href="https://www.colombiacompra.gov.co"><img alt="Logo Colombia Compra Eficiente" id="logocce" src="https://www.colombiacompra.gov.co/sites/cce_public/files/files_2020/cce-color.png" style="height: 45px;"></a></div>
    <div style="float:left;width: 70%;" class='column'>
        <h1> Validación de Datos de Base unificada
        </h1> 
    </div>
<div style="float:left;width: 15%;" class='column'><a href="https://www.dnp.gov.co/" target="_blank"><img class="float-right" id="logodnp" src="https://www.dnp.gov.co/img/logoNuevo.jpg" style="width: 200px;"></a></div>
</div>

## 2. DESTINO Y AUTORES DEL INFORME / INSUMO

|||
|:--|:--|
|**Destinatario**|<table align='left'><tr><td>*Nombre:*</td> <td>Equipo analítica EMAE</td></tr> <tr><td>*Cargo:*</td> <td>NA</td></tr>  <tr><td>*Área:*</td> <td>Subdirección de estudios de Mercado y Abastecimiento Estratégico – EMAE</td></tr></table>|
|**Autores**|<table><tr><td>*Nombre:*</td> <td>Equipo de Datos -GAEC</td></tr><tr><td>*Área:*</td> <td>Subdirección de estudios de Mercado y Abastecimiento Estratégico – EMAE.</td></tr></table>|
|**Aprobación**|<table><tr><td>*Nombre:*</td> <td>Ricardo Suarez</td></tr> <tr><td>*Cargo:*</td> <td>Subdirector Estudios de Mercado y Abastecimiento Estratégico</td></tr>  <tr><td>*Área:*</td> <td>Subdirección de estudios de Mercado y Abastecimiento Estratégico – EMAE.</td></tr></table>|

In [1]:
### Paquetes usados para la validación de datos

import re
import pandas as pd
import numpy as np
from datetime import (
    datetime,
    timedelta,
)
import matplotlib.pyplot as plt
import datetime as dt
import unidecode
import libreria.data_management as dm
from dataprep.clean import clean_duplication
import warnings
warnings.filterwarnings('ignore')
pd.options.display.float_format = '{:.0f}'.format

In [2]:
secop_2023 = pd.read_parquet('../../../muestras de datos/procesados/SECOP_2023_depurado.parquet')
secop_2023.head()

,ID_Contrato,ID_Proceso,ID_Entidad,Nombre_Entidad,NIT_Entidad,Orden_Entidad,Modalidad,Estado,Descripcion_proceso,Objeto_Contrato,Tipo_de_contrato,Fecha_firma,UNSPSC,Nombre_Proveedor,Documento_Proveedor,Tipo_proveedor,Valor_contrato,Departamento_Entidad,Municipio_Entidad,Departamento_Proveedor,Municipio_Proveedor,Fecha_inicio_contrato,Fecha_fin_contrato,Link,Fuente,Modalidad Estandar,Grupo Modalidad
0,12056146,22-4-13019919,21523847.0,boyaca empresa servicios publicos domiciliario...,891855578,territorial,regimen especial,celebrado,construccion box culvert carrera quebrada aroma,construccion box culvert carrera quebrada aroma,obra,2023-03-03,7214100000,ingtec sas,826000391,None,224502972.0,BOYACA,DUITAMA,BOYACA,BOYACA,2023-03-03,2023-06-03,https://www.contratos.gov.co/consultas/detalle...,secop i,Régimen Especial,Modalidad Especial
1,12056146,22-4-13019919,21523847.0,boyaca empresa servicios publicos domiciliario...,891855578,territorial,regimen especial,celebrado,construccion box culvert carrera quebrada aroma,construccion box culvert carrera quebrada aroma,obra,2023-03-03,7214100000,ingtec sas,826000391,None,224502972.0,BOYACA,DUITAMA,BOYACA,BOYACA,2023-03-03,2023-06-03,https://www.contratos.gov.co/consultas/detalle...,secop i,Régimen Especial,Modalidad Especial
2,12139930,22-4-13072912,21523847.0,boyaca empresa servicios publicos domiciliario...,891855578,territorial,regimen especial,celebrado,interventora tcnica administrativa financiera ...,interventora tcnica administrativa financiera ...,consultoria,2023-03-03,8000100000,edison fabian velandia rodriguez,1118547359,None,12682782.0,BOYACA,DUITAMA,BOYACA,BOYACA,2023-03-03,2023-06-03,https://www.contratos.gov.co/consultas/detalle...,secop i,Régimen Especial,Modalidad Especial
3,12139930,22-4-13072912,21523847.0,boyaca empresa servicios publicos domiciliario...,891855578,territorial,regimen especial,celebrado,interventora tcnica administrativa financiera ...,interventora tcnica administrativa financiera ...,consultoria,2023-03-03,8000100000,edison fabian velandia rodriguez,1118547359,None,12682782.0,BOYACA,DUITAMA,BOYACA,BOYACA,2023-03-03,2023-06-03,https://www.contratos.gov.co/consultas/detalle...,secop i,Régimen Especial,Modalidad Especial
4,12585001,18-12-8419746,205001178.0,antioquia agencia gestion paisaje patrimonio a...,900623766,territorial,contratacion directa ( ley ),celebrado,presente contrato corresponde marco general vi...,servicio comunicaciones seguridad perimetral e...,prestacion servicios,2023-03-27,8111100000,une epm telecomunicaciones sa,900092385,None,59099638.0,ANTIOQUIA,MEDELLIN,ANTIOQUIA,ANTIOQUIA,2023-04-07,2023-12-07,https://www.contratos.gov.co/consultas/detalle...,secop i,Contratación Directa,Modalidad Directa

In [3]:
len(secop_2023)

886626

In [4]:
secop_2023['Fecha_firma'] = pd.to_datetime(secop_2023['Fecha_firma']).dt.tz_localize(None)
secop_2023 = secop_2023[(secop_2023['Estado']!='cancelado')]
secop_ii_2023 = secop_2023[(secop_2023['Fuente']=='secop ii')]
secop_2023_c1 = secop_ii_2023.groupby(['ID_Contrato', 'Fecha_firma'])['Valor_contrato'].max().reset_index()
secop_2023_c1['mes'] = secop_2023_c1['Fecha_firma'].dt.month

In [6]:
## CANTIDAD DE CONTRATOS Y VALOR POR MES DEL AÑO 2023 ----
## El calculo se realiza para optener los contratos unicos tanto en valor como en cantidad.       
## Los datos corresponden con la información reportada por las entidades estatales en el SECOP II 
secop_2023_c1.groupby(['mes']).agg({'ID_Contrato': ['count'], 'Valor_contrato': ['sum']}).reset_index()

  mes ID_Contrato  Valor_contrato
            count             sum
0   1      126272 129471032738154
1   2      144824  13810051385205
2   3       83906 150076395943215
3   4       44232   6806761827013
4   5       66543   7479644764735
5   6      103165  17959133258366

In [7]:
secop_2023_c2 = secop_ii_2023.groupby(['ID_Contrato', 'Modalidad'])['Valor_contrato'].max().reset_index()

In [8]:
# CANTIDAD DE CONTRATOS Y VALOR POR MODALIDAD DE LOS MESES DEL 1 AL 6 DEL AÑO 2023
secop_2023_c2.groupby(['Modalidad']).agg({'ID_Contrato': ['count'], 'Valor_contrato': ['sum']}).reset_index()

,Modalidad,ID_Contrato,Valor_contrato
,,count,sum
0,cce concurso_meritos_sin_lista_corta_,675,628130487824
1,concurso meritos abierto,5,6054017155
2,contratacion directa,462198,289740389349282
3,contratacion directa ( ofertas ),5161,6577799062664
4,contratacion regimen especial,73181,9894423154690
5,contratacion regimen especial ( ofertas ),3174,3331128715136
6,enajenacion bienes cerrado,12,1048216104
7,enajenacion bienes subasta,16,1094313975
8,licitacion publica,805,4324359045761
9,licitacion publica acuerdo marco precios,149,0
10,licitacion publica obra publica,402,4920762548254
11,minima cuantia,15659,525674581110
12,seleccion abreviada menor cuantia,2641,3815384784163
13,seleccion abreviada menor cuantia manifestacio...,121,419839300694
14,seleccion abreviada subasta inversa,1840,1308525664545

In [9]:
secop_2023_c3 = secop_ii_2023.groupby(['ID_Contrato', 'Tipo_de_contrato'])['Valor_contrato'].max().reset_index()

In [10]:
## CANTIDAD DE CONTRATOS Y VALOR POR TIPO DE CONTRATO DE LOS MESES DEL 1 AL 6 DEL AÑO 2023
secop_2023_c3.groupby(['Tipo_de_contrato']).agg({'ID_Contrato': ['count'], 'Valor_contrato': ['sum']}).reset_index()

              Tipo_de_contrato ID_Contrato  Valor_contrato
                                     count             sum
0        acuerdo marco precios         149               0
1      arrendamiento inmuebles        3426    441607946006
2        arrendamiento muebles         207    253763888687
3   asociacion publico privada          25     15308205423
4                     comision          11     31611498246
5                     comodato        1545    150916562583
6                  compraventa        4005    623007448194
7                    concesion           6    776687158379
8                  consultoria         401    123325137112
9                  decreelaw /       18380   3691931416625
10                  emprestito          60    804027468897
11                especificado        3361    144352179808
12               interventoria         586    522073047868
13          negocio fiduciario          16     10582212429
14                        obra        2858   6622354736212
15        prestacion servicios      507583 287094289146996
16                     seguros         768    413593630866
17       servicios financieros          74     70378926638
18                 suministros        8831   2222367628604
19             venta inmuebles           5       981400694
20               venta muebles          23      1161129385

In [11]:
secop_2023_c4 = secop_ii_2023.groupby(['ID_Contrato', 'Nombre_Entidad'])['Valor_contrato'].max().reset_index()

In [12]:
## TOP 20 - CANTIDAD DE CONTRATOS Y VALOR POR ENTIDAD DE LOS MESES DEL 1 AL 6 DEL AÑO 2023
secop_2023_c4.groupby(['Nombre_Entidad']).agg({'ID_Contrato': ['count'], 'Valor_contrato': ['sum']}).reset_index().sort_values(by=('Valor_contrato',   'sum'),ascending=False).head(20)

,Nombre_Entidad,ID_Contrato,Valor_contrato
,,count,sum
2330,municipios asociados subregion embalses rio ne...,42,142079074746727
903,dispensario medico oriente,194,120363360179258
906,distrito especial ciencia tecnologia innovacio...,1209,3103115639672
1890,instituto desarrollo urbano,1586,1837396419296
809,departamento antioquia,1021,1687926508897
2550,rnec,262,1178249773597
753,corporacion autonoma regional santander,982,1172425255030
2771,unidad nacional proteccion,1529,1041518372385
1311,fondo pasivo social ferrocarriles nacionales c...,456,893263979539
853,departamento santander,3800,832287148922
0,( secretaria distrital integracion social ),8347,800994306041
2761,unidad administrativa especial servicios publi...,629,743108095837
907,distrito especial industrial portuario barranq...,4550,708393105807
2601,secretaria educacion distrito,2847,704636730933
2061,ministerio educacion nacional ( men ),780,625180851185
9,aerocivil,697,619824344401
2241,municipio sabaneta,2853,608942061600
2003,instituto nacional vias,2285,604221568383
1484,icbf regional antioquia,639,536945391772
2212,municipio pereiraoficial,4247,519123740324

In [13]:
secop_ii_2023['ID_Entidad'] = secop_ii_2023['ID_Entidad'].astype('Int64')
secop_ii_2023['ID_Entidad'] = secop_ii_2023['ID_Entidad'].astype(str)

In [14]:
secop_ii_2023_filtro = secop_ii_2023[(secop_ii_2023['ID_Entidad']=='702271321')]
secop_2023_c5 = secop_ii_2023_filtro.groupby(['ID_Contrato', 'Fecha_firma'])['Valor_contrato'].max().reset_index()
secop_2023_c5['mes'] = secop_2023_c5['Fecha_firma'].dt.month

In [15]:
## DATOS DE LA ENTIDAD (Secretaría Distrital de Integración Social), CODIGO 702271321
## CANTIDAD DE CONTRATOS Y VALOR POR MES DEL AÑO 2023
secop_2023_c5.groupby(['mes']).agg({'ID_Contrato': ['count'], 'Valor_contrato': ['sum']}).reset_index()

  mes ID_Contrato Valor_contrato
            count            sum
0   1        1258    52152374285
1   2        2630   389808361877
2   3        1799    83997997957
3   4        1052    96410440466
4   5         808    33282296926
5   6         800   145342834530

In [16]:
secop_2023_c6 = secop_ii_2023_filtro.groupby(['ID_Contrato', 'Modalidad'])['Valor_contrato'].max().reset_index()

In [17]:
## CANTIDAD DE CONTRATOS Y VALOR POR MODALIDAD DE LOS MESES DEL 1 AL 6 DEL AÑO 2023
secop_2023_c6.groupby(['Modalidad']).agg({'ID_Contrato': ['count'], 'Valor_contrato': ['sum']}).reset_index()

                                   Modalidad ID_Contrato Valor_contrato
                                                   count            sum
0                       contratacion directa        8205   679653598338
1              contratacion regimen especial           7    37301694299
2  contratacion regimen especial ( ofertas )         121    78370715386
3                             minima cuantia           4      326155000
4          seleccion abreviada menor cuantia           3     2153714028
5        seleccion abreviada subasta inversa           6     3141430090

In [18]:
secop_2023_c7 = secop_ii_2023_filtro.groupby(['ID_Contrato', 'Tipo_de_contrato'])['Valor_contrato'].max().reset_index()

In [19]:
## CANTIDAD DE CONTRATOS Y VALOR POR TIPO DE CONTRATO DE LOS MESES DEL 1 AL 6 DEL AÑO 2023
secop_2023_c7.groupby(['Tipo_de_contrato']).agg({'ID_Contrato': ['count'], 'Valor_contrato': ['sum']}).reset_index()

          Tipo_de_contrato ID_Contrato Valor_contrato
                                 count            sum
0  arrendamiento inmuebles          90    11797574589
1                 comodato           2              0
2              decreelaw /         121    78370715386
3             especificado           1       46998900
4     prestacion servicios        8092   282302885203
5                  seguros           1     1599632102
6              suministros           1      506451000

In [20]:
secop_2023_c8 = secop_ii_2023_filtro.groupby(['ID_Contrato', 'Nombre_Entidad'])['Valor_contrato'].max().reset_index()

In [21]:
## TOP 20 - CANTIDAD DE CONTRATOS Y VALOR POR ENTIDAD DE LOS MESES DEL 1 AL 6 DEL AÑO 2023
secop_2023_c8.groupby(['Nombre_Entidad']).agg({'ID_Contrato': ['count'], 'Valor_contrato': ['sum']}).reset_index()

                                Nombre_Entidad ID_Contrato Valor_contrato
                                                     count            sum
0  ( secretaria distrital integracion social )        8347   800994306041